<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= product.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stock:</strong>
    <%= product.stock %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= product.category&.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= product.color&.name || "Sin color" %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= product.size %>
  </p>

  <p class="my-5">
  <strong class="block font-medium mb-1">Images:</strong>
  <% product.images.each do |image| %>
    <div>
      <%= image_tag image %> 
    </div>
  <% end %>
</p>

  <% if user_signed_in? %>


    <p class="my-5">
    <strong class="block font-medium mb-1">Creation date:</strong>
    <%= @product.created_at.to_formatted_s(:long) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Updated at:</strong>
    <%= @product.updated_at.to_formatted_s(:long) %>
  </p>

  <% if @product.deleted_at %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Deleted at:</strong>
      <%= @product.deleted_at.to_formatted_s(:long) %>
    </p>
  <% end %>


  <% end %>


</div>
